body {
  color: #323232;
  margin: 0;
}
.main {
  margin: 30px;
  padding: 10px;
}

nav {
  height: 80px;
  overflow: hidden;
  max-width: 1260px;
  margin: 0 auto;
}

nav * {
  display: inline;
  margin: 30px 0;
}

nav ul {
  display: none;
}

nav .brand {
  width: 100%;
  text-align: center;
  display: inline-block;
}

nav li {
  display: inline;
}

ul {
  list-style: none;
}

@media(min-width: 500px) {
  nav .brand {
    width: auto;
  }

  nav ul {
    display: inline;
    float: right;
  }

  nav .brand, nav ul {
    margin: 30px 30px;
    padding: 0 10px;
  }

  nav li {
    padding: 0 10px;
  }
}

.splash {
  background-image: url('../images/kats-hero1.jpg');
  background-position: 50% 80%;
  background-color: #00897f;
  width: 100%;
  position: relative;
  z-index: -10;
}

.splash .headline{
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: -1;
  display: flex;
  color: #eeeeee;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}
.splash .headline .callout{
  position: relative;
  margin: auto;
  width: auto;
  display: inline-block;
}
.splash .main{
  font-size: 1.75em;
  margin: 0;
  padding: 0;
}
.splash .post{
  float: right;
}

.splash img{
  display: block;
  margin: 0 auto;
}

@media(min-width: 600px) {
  .splash img{
    padding-top: 50px;
  }
  .splash .headline {
  }
  .splash {
    font-size: 1.55em;
  }
  .splash .main{
    font-size: 1.8em;
  }
}
