body {
  color: #323232;
  margin: 0;
}
.main {
  margin: 30px;
  padding: 10px;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.875em;
}
h2 {
  color: #00897f;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

nav {
  height: 80px;
  overflow: hidden;
  max-width: 1260px;
  margin: 0 auto;
}
nav * {
  display: inline;
  margin: 30px 0;
}
nav ul {
  display: none;
}
nav .brand {
  width: 100%;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  display: inline-block;
}
nav li {
  display: inline;
}
ul {
  list-style: none;
}
nav a{
  color: #323232;
  text-decoration: none;
}
@media(min-width: 500px) {
  nav .brand {
    width: auto;
  }
  nav ul {
    display: inline;
    float: right;
  }
  nav .brand, nav ul {
    margin: 30px 30px;
    padding: 0 10px;
  }
  nav li {
    padding: 0 10px;
  }
}

.splash {
  background-image: url('../images/kats-hero1.jpg');
  background-position: 50% 80%;
  background-color: #00897f;
  width: 100%;
  position: relative;
  z-index: -10;
}
.splash .headline{
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: -1;
  display: flex;
  color: #eeeeee;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}
.splash .headline .callout{
  position: relative;
  margin: auto;
  width: auto;
  display: inline-block;
}
.splash .main{
  font-size: 1.75em;
  margin: 0;
  padding: 0;
}
.splash .post{
  float: right;
}
.splash img{
  display: block;
  margin: 0 auto;
}
@media(min-width: 600px) {
  .splash img{
    padding-top: 50px;
  }
  .splash .headline {
  }
  .splash {
    font-size: 1.55em;
  }
  .splash .main{
    font-size: 1.8em;
  }
}

.about {
  margin: auto;
  max-width: 1260px;
}
.about article {
  background-color: #eeeeee;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}
.about article p{
  text-align: left;
  margin: 10px;
}

.spacer {
  display: flex;
}
.spacer div {
  display: inline-block;
  margin: 0 auto;
}
.spacer img{
  border-radius: 50%;
  margin: 15px;
}
.spacer img{
  display: none;
}
.spacer img:last-child {
  display: inline-block;
}
@media(min-width: 660px){
  .spacer img:first-child{
    display: inline-block;
  }
}
@media(min-width: 940px){
  .spacer img {
    display: inline-block;
  }
}

.contact {
  text-align: center;
  background-color: #eeeeee;
  padding: 15px;
}
.contact .content {
  max-width: 1260px;
  margin: auto;
}
.contact article {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
}
.contact ul {
  margin: 10px;
  text-align: left;
  padding: 0;
}
.contact ul span {
  font-weight: bold;
  vertical-align: top;
}
.contact ul span.address {
  font-weight: normal;
  color: #f26522;
  display: inline-block;
}

.map {
  background-image: url('../images/kats-map.jpg');
  background-position: 50% 40%;
  height: 200px;
  background-size: cover;
}
@media(min-width: 940px) {
  .map {
    height: 300px;
  }
}

footer{
  text-align: center;
  background-color: #00897f;
  color: white;
  padding: 20px;
}
footer .h1 {
  margin: 0;
}
@media(min-width: 940px) {
  footer {
    padding: 50px;
  }
}
